<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
            
        <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">  {% comment %} Source for using "Century Gothic Font {% endcomment %}
        <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <a href='#'>follow us</a>
            <img src={% static 'img/mabu.png' %} height=45>
            <a href='#'>join us</a>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
</html>