{% extends 'menubase.html' %}
{% load static %}

{% block title %}
    Add Books | {{ user.username }}
{% endblock %}

{% block active %}
    <li><a href='#'>profile</a></li>
    <li><a href='#'>library</a></li>
    <li><a href='#' class='menu-active'>add books</a></li>
{% endblock %}             

{% block content %}   
<div class='content'>
    <div class='addbooks'>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class='button' type='submit'>submit</button>
        </form>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}