{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mabu
{% endblock %}

{% block content %}
    <section class='hero'>
        <h1>Know your journey, your world, and your adventure</h1>
    </section>
    <section class='menu'>
        <ul>
            <li><a href=#>what is mabu?</a></li>
            <li><a href=#>join us</a></li>
            <li><a href=#>know us</a></li>
        </ul>
    </section>

    <section class='about'>
        <h1>what is mabu?</h1>
         <div class='definition'>
            <img src={% static 'img/about.png' %} height=300 alt='novels'>
            <div>
                <p>
                    “Know your journey, your world, and your adventure” 
                    <br><br>
                    Mabu is a tool designed and created to track your reading progress. With this tool you can track your reading progress by volume, chapter, and total of how many books you've read.
                </p>
            </div>
        </div>
        <div class='feature'>
            <!-- NEED UI OF FEATURE, LOGIN, LIBRARY, NOTES, AND MORE -->
        </div>
    </section>
{% endblock %}