{% extends 'base.html' %}
{% load static %}

{% block title %}
    Search Books | {{ books }}
{% endblock %}

{% block content %}
    <section class='recc'>
        <p>You search for '{{ b }}'</p>
        <div class='lib-container'>
            {% for book in books %}
                <div class='lib-item'>
                    <a href='/book/{{ book.id }}'>
                        <img src={{ book.cover.url }} width='215' height='305' style='object-fit: cover;'>
                        <span>{{ book.title }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}