{% extends 'user_base.html' %}
{% load static %}

{% block title %}
    Library | {{ user.username }}
{% endblock %}

{% block active %}
    <li><a href='#'>profile</a></li>
    <li class='user-active'><a href='#'>library</a></li>
    <li><a href='#'>add books</a></li>
{% endblock %}             

{% block content %}   
<div class='content'>
    <h3>{{ book.title }} by {{ book.author }}</h3>
    <small> _id : {{ book_id }} </small>
    <small> id : {{ book }} </small>

    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>submit</button>
    </form>
{% endblock %}