{% extends 'user_base.html' %}
{% load static %}

{% block title %}
    Add Books | {{ user.username }}
{% endblock %}

{% block active %}
    <li><a href='/profile'>profile</a></li>
    <li><a href='/library'>library</a></li>
    <li class='user-active'><a href='#'>add books</a></li>
{% endblock %}             

{% block content %}   
<div class='content'>
    <div class='addbooks'>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='button' type='submit'>submit</button>
        </form>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}