{% extends 'user_base.html' %}
{% load static %}

{% block title %}
    Library | {{ user.username }}
{% endblock %}

{% block active %}
    <li><a href='#'>profile</a></li>
    <li class='user-active'><a href='#'>library</a></li>
    <li><a href='#'>add books</a></li>
{% endblock %}             

{% block content %}   
<div class='content'>
    <h3>{{ user.username }}'s library</h3>
    
    <!-- LIBRARY -->
    {% comment %} <div class='lib-container'>
        {% for book in user_books %}
            <div class='lib-item'>
                <img src={{ book.cover.url }} width='185'>
                <p>{{ book.title }}</p>
            </div>
        {% endfor %}
    </div> {% endcomment %}
    <!-- LIBRARY FORM -->
    <div class='lib-container'>
        {% for book in user_books %}
            <div class='lib-item'>
                <form method='POST' action="{% url 'core:update_library' %}">
                    {% csrf_token %}
                    <input type='hidden' name='book_id' value='{{ book.id }}'>
                    <button type='submit'>
                        <img src={{ book.cover.url }} width='185'>
                        
                            <span>
                                {{ book.title }}
                            </span>
                        
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}