{% extends 'user_base.html' %}
{% load static %}

{% block title %}
    Library | {{ user.username }}
{% endblock %}

{% block active %}
    <li><a href='#'>profile</a></li>
    <li class='user-active'><a href='#'>library</a></li>
    <li><a href='/books'>add books</a></li>
{% endblock %}             

{% block content %}   
<div class='content update'>
    <h3>{{ book.title }} by {{ book.author }}</h3>
    <br>

    <form method='POST'>
        {% csrf_token %}
        <input type='hidden' value='{{ book_id }}' name='id'>
        {{ form.as_p }}
        <button class='button' type='submit'>submit</button>
    </form>
    <br>
    <div class='history'>
        <h2> Your Notes so far</h2>
        {% if notes %}
            {% for note in notes %}
            <div class='notes'>
                <h3>Volume {{ note.volume }}'s note</h3>
                <br>
                <p>{{ note.note }}</p>
            </div>
            <br>
            {% endfor %}
        {% else %}
            <p>Look like you have not create any notes for this book yet :D</p>
        {% endif %}
    </div>
</div>
{% endblock %}