/* ============================== VARIABLE ============================== */
:root {
    --text: #02010d;
    --background: #f3f2fe;
    --backgroundShade: #f0f0fc;
    --primary: #2f27ce;
    --secondary: #f478e6;
    --accent: #f256a6;
} 
/* ============================== GLOBAL ============================== */
body {
    background-color: var(--background);
}
* { margin: 0; padding: 0; }
a, h1, h2, h3, h4, h5, span, p, button, input, textarea {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--text);
}
li { list-style: none; }
.button {
    padding: 5px 10px; 
    background: var(--text);
    color: var(--background);
    border: none;
}
.user-active {
     border-right: 2px solid black; 
}
input, textarea { outline: none; }
/* ============================== INPUT ============================== */
input, select {
    background: var(--background);
    /* box-shadow: none; */
    padding: 2px 6px; 
    border: 1px solid var(--text);
    border-top: none;
    border-left: none;
    border-right: none;
}

/* ============================== NAVBAR ============================== */
header, section {
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    font-size: 20px; 
    align-items: flex-end;
    border-bottom: 6px double black;
    margin-bottom: 30px;
}

.dropdown button {
    background: var(--background);
    font-size: 20px;
    border: none;
  }
  
.dropdown {
    font-size: 20px;
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--background);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display:block;}
/* =================================================================== */
/* ============================== INDEX PAGE ========================= */
/* =================================================================== */

  
/* ============================== HERO ============================== */
.hero {
    width: 60%;
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 100px; 
}
.menu {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 200px;
}
.menu ul {
    display: flex;
    justify-content: space-evenly;
}
/* ============================== ABOUT ============================== */
.about h1 { 
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.definition {
    /* background-color: gray; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto; 
}
.definition img { border-radius: 5%; }
.definition p { margin-left: 100px; }

/* =================================================================== */
/* ============================ ADD BOOKS PAGE ======================= */
/* =================================================================== */
.settings h2 { margin-bottom: 20px; }
.user {
    display: flex;
    margin: auto;
    /* justify-content: space-evenly; */
}
.user .map { 
    flex: 1; 
}
.user .map li { margin-bottom: 10px; width: 50%; }
.user .map a { padding-right: 20px; }
.user .content {flex: 3; }
.user form p { margin-bottom: 20px; display: flex; width: 80%; justify-content: space-between;}
.user form input { width: 70%; }

/* =================================================================== */
/* ============================== LIBRARY PAGE======================== */
/* =================================================================== */
.lib-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
}
.lib-item {
    text-align: center;
    max-width: 185px; 
    cursor: pointer;
}

.lib-item span { 
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lib-item:hover {
    filter: brightness(50%);
    transition: all .5s;
}
.errorlist { display: none; }
/* ============================== UPDATE PAGE======================== */
.update textarea {
    width: 69%;
    background: var(--backgroundShade);
    border: 1px solid black;
    padding: 10px;
}